
$border-radius-chew-select-panel: 4px;

.chew-select{
  width: 100%;
  .placeholder{
    color: gray;
  }
  // .select-menu-inner {
  //   //width: 180px;
  //   max-height: 128px;
  //   overflow-x: auto;
  //   overflow-y: hidden;
  // }
}

.chew-select-panel-wrap{
  overflow-x: auto;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(153, 144, 144, 0.02);
  max-width: 100%;
  min-width: 200px;
  background-color: white;
  border-radius: $border-radius-chew-select-panel;
  //animation: fadeIn 1s linear;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      top: 5px;
  }

  75% {
      opacity: 0;
  }

  100% {
      opacity: 1;
      top: 0;
  }
}

