<section class="hero is-medium main-page">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <img src="../../../assets/chewbacca.png" alt="" srcset="" class="library-logo">
        </div>
        <div class="column is-three-quarters">
          <h1 class="title">
            CHEWBACCA-UI
          </h1>
          <h2 class="subtitle">
            Angular components for faster and easier web development.
          </h2>
          <h2 class="subtitle">
            Based in Bulma css library.
          </h2>
          <button chew-button-outlined color="dark" class="get-started-button">Get started</button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="subtitle">
                Installation
              </p>
              <div class="content">
                <p>Install Chewbacca-ui source files via npm. We take care of injecting the CSS needed.</p>
              </div>
              <div class="content">
                <p>First you need install bulma css library.</p>
                <pre class="intro-npm">
                  <code>npm install bulma</code>
                  <code class="intro-npm-copy">copy</code>
                </pre>
                <p>And then chewbacca-UI.</p>
                <pre class="intro-npm">
                  <code>npm install chewbacca-ui</code>
                  <code class="intro-npm-copy">copy</code>
                </pre>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <tabs (selectedTabChange)="tabChange($event)">
                <tab title="panel 1">
                  <form [formGroup]="form">
                    <div class="columns">
                      <div class="column">
                        <chew-field>
                          <input type="text" class="input" placeholder="Name" formControlName="name">
                        </chew-field>
                      </div>
                      <div class="column">
                        <chew-field>
                          <input type="text" class="input" placeholder="Lastname" formControlName="name">
                        </chew-field>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="column">
                        <chew-field>
                          <toggle-switch formControlName="active">Is active</toggle-switch>
                        </chew-field>
                      </div>
                    </div>
                    <chew-field>
                      <chew-radio-group formControlName="gender">
                        <chew-radio-button value="male">Male</chew-radio-button>
                        <chew-radio-button value="female" checked="true">Female</chew-radio-button>
                      </chew-radio-group>
                    </chew-field>
                  </form>
                  <pre>
                    {{ form.value | json }}
                  </pre>
                </tab>
                <tab title="panel 2">
                  <chew-select [items]="items" bindLabel="name" bindValue="id" placeholder="Select an item..."
                    (changeOption)="changeOption($event)" class="column">
                    <ng-template #triggerTemplate let-value>
                      <i *ngIf="value" class="fa fa-info"></i>
                      {{ value?.name || 'Select item...' }}
                    </ng-template>
                    <ng-template #optionTemplate let-value let-id=index>
                      <i class="fa fa-info"></i>
                      {{ value.name }}
                    </ng-template>
                  </chew-select>
                </tab>
                <tab title="panel 3">
                  <chew-dropdown>
                    <button chew-button color="dark" [chewDropdownTrigger]="dropdownMenu">Test</button>
                    <chew-dropdown-menu #dropdownMenu>
                      <a chew-dropdown-item (click)="onClickItem()">
                        Option 1
                      </a>
                      <a chew-dropdown-item (click)="onClickItem()">
                        Option 2
                      </a>
                      <hr class="dropdown-divider">
                      <a chew-dropdown-item (click)="onClickItem()">
                        With a divider
                      </a>
                    </chew-dropdown-menu>
                  </chew-dropdown>
                </tab>
                <tab title="panel 4">
                  Panel 4 content
                </tab>
              </tabs>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>