<navbar class="is-fixed-top is-white has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <img src="../assets/chewbacca.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox"
        width="30" height="30">
      <strong>CHEWBACCA-UI</strong>
    </a>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/']">
          Home
        </a>
        <a class="navbar-item" [routerLink]="['/documentation']">
          Documentation
        </a>
      </div>
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</navbar>
<div class="chew-doc-main-container">
  <router-outlet></router-outlet>
</div>
<!-- <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer> -->