<navbar class="is-fixed-top has-shadow is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">
        <img src="../assets/chewbacca.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox"
          width="30" height="30">
        <span>CHEWBACCA-UI</span>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['/documentation']">
          Documentation
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <span class="icon is-medium">
            <i class="fab fa-lg fa-github"></i>
          </span>
          <div class="buttons">
            <a chew-button-outlined color="primary">
              <strong>Download</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</navbar>
<div class="chew-doc-main-container">
  <router-outlet></router-outlet>
</div>
<!-- <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer> -->