
$chew-option-color: #323232;

:host{
  &:focus{
    outline: none;
  }
}

.chew-option{
  display: inline-flex;
  flex: 1 100%;
  justify-content: flex-start;
  align-items: center;
  color: #323232;
  min-height: 40px;
  padding: 0 10px;
  font-size: inherit;
  width: 100%;
  cursor: pointer;
  &:hover{
    background-color: rgba($color: $chew-option-color, $alpha: 0.04);
  }
  &:focus{
    outline: none;
    background-color: rgba($color: $chew-option-color, $alpha: 0.1);
  }
  &.selected{
    background-color: rgba($color: $chew-option-color, $alpha: 0.1);
    color: $primary;
  }
}