@import '../../../../node_modules/bulma/bulma.sass';

$sliderColor: #ccc;

.switch {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: inherit;
  cursor: pointer;
}
.toggle-bar{
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
  margin-right: 8px;
}
.toggle-content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: -2px;
  bottom: -4px;
  background-color: $primary;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: rgba($color: $primary, $alpha: 0.7);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba($color: $primary, $alpha: 0.7);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

input:disabled + .slider {
  background-color: rgba($color: $sliderColor, $alpha: 0.5);
}

input:disabled + .slider:before {
  background-color: rgba($color: $sliderColor, $alpha: 0.8);
}

.switch.disabled{
  .toggle-content {
    color: $sliderColor;
  }
  &:hover, .slider:hover{
    cursor: default;
  }
}

.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}