
.chew-select{
  width: 100%;

  .placeholder{
    color: gray;
  }
  input.search-control{
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    &:focus{
      outline: none;
    }
  }
  &:focus{
    input.search-control{
      display: block;
    }
  }
  .chew-select-items-container{
    overflow-x: auto;
    max-height: 200px;
  }
  .no-match-results{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
  }
  .select-menu-inner {
    //width: 180px;
    max-height: 128px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}


