/* You can add global styles to this file, and also import other style files */
//@import "~@angular/cdk/overlay-prebuilt.css";
@import "~@angular/cdk/overlay";
@include cdk-overlay();

@import 'highlight.js/styles/atom-one-light.css';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// $body-background-color: #323232;
// $body-color: $beige-lighter;

@import "../node_modules/bulma/bulma.sass";
@import './app/chewbacca-ui/theme/chewbacca-ui.scss';

html, body{
  margin: 0 auto;
  padding: 0;
}

.chew-doc-main-container{
  margin-top: 60px;
  min-height: 100vh;
}

.main-page{
  h1.title{
    font-size: 60px;
    margin-bottom: 30px;
  }
  h2.subtitle{
    font-size: 26px;
    color: rgba(#323232, 0.6);
    margin-top: 0.75;
    margin-bottom: 0;
  }
  button.get-started-button{
    margin-top: 30px;
  }
  img.library-logo{
    width: 250px;
    height: auto;
  }
}

.navbar-brand span{
  font-size: 22px;
  font-weight: 700;
}

.tabs.mb-none{
  margin-bottom: 0;
}

.dropdown-menu.is-active{
  display: block;
}

.dropdown-item.chew-option:focus{
  background-color: gray;
}

.p-1{
  padding: 10px;
}

.bd-links{
  display: flex;
  flex-wrap: wrap;
  .bd-link{
    width: 50%;
    border-radius: 6px;
    color: #7a7a7a;
    display: block;
    font-size: 1.25rem;
    padding: 1rem 3rem 1.5rem 5rem;
    position: relative;
    transition-duration: 86ms;
    transition-property: background-color,color;
    &:hover {
      background-color: #fafafa;
      color: #363636;
    }
    .bd-link-name{
      color: #363636;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.25;
      margin-bottom: .25em;
      position: relative;
    }
    .bd-link-figure{
      position: absolute;
      right: calc(100% + .75em);
      text-align: center;
      top: 0;
      min-width: 1.5em;
      .bd-link-icon{
        display: block;
      font-size: 2rem;
      width: 1.5em;
      }
      .has-text-link {
        color: #3273dc!important;
      }
    }
  }
}
